@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  background-color: black;
}
nav {
  width: 80%;
  margin: auto;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-direction: row;
  list-style-type: none;
}
.nav-links {
  display:flex;
  width: 50%;
  justify-content: space-between;
  
}
.nav-links li {
  list-style-type: none;
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 80px;
  height: 50%;
}
.main {
  min-height: 90vh;
  display: flex;
  align-items: center;
  background: linear-gradient(65.99deg, #000 0, transparent 99.04%);
}
.main img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  z-index: -2;
}
.textContainer {
  position: absolute;
  z-index: 2;
  color: white;
  margin-left: 20px;
  width: 70%;
}
.textContainer h1 {
  font-size: 30px;
}
.textContainer h2 {
  font-size: 20px;
}

#menu-toggle {
  display: none;
}

/*mobile styles*/
@media screen and (max-width: 700px) {

  header {
    background-color: black;
  }
   
  .nav-links{
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .nav-links li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .nav-links li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .nav-links > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }

  
  .nav-links > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

}
